@charset "utf-8";

/* ==========================================================================
   is-valid-color
   ========================================================================== */
/// 验证颜色
///
/// @access inside
/// @param { color | listColor} $color -- 颜色列表
/// @param { num } $validSunLength [ false ] -- 是否需要验证指定的数字的 list 长度
/// @return { bool }
/// @author Any.Gong
/// @since 2015.09.06
@function is-valid-color($color,$validSunLength:false) {
   $hasCount: 0;
   @for $i from 1 through length($color) {
      $singleColor: nth($color, $i);
      @if type_of($singleColor)=='color' or $singleColor=='transparent' or $singleColor=='inherit' {
         $hasCount: $hasCount+1;
      }
   }
  @if $hasCount!=length($color){
    @return false;
  }
  @if $validSunLength{
    @if $hasCount!=$validSunLength{
      @return false;
    }
  }
  @return true;
}