@charset "utf-8";

/* ==========================================================================
   base
   ========================================================================== */
/**
 * 站点字体/背景样式设置
 * 1、微软雅黑 --默认body字体
 * 2、body 默认背景色 “白色 ”，如果检测到颜色值非 null 值，就会应用body背景色
 * 3、图片资源的基本路径
 * 4、字体图标位置
 * 5、框架基本宽度设置
 */

$base-font-family: $FONT_YAHEI; /* 1 */
$base-font-color:#333;
$base-font-size: 12px;
$base-line-height: 1.5;
$base-body-bgColor: #fff; /* 2 */
$base-images-path:'../images'; /* 3 */
$base-fonts-path:'../fonts'; /* 4 */
$base-wrap-width: 1200px; /* 5 */


/**
 * 站点整体容器设置 适用于做 media 设定
 */
