@charset "utf-8";

/* ==========================================================================
   placeholder
   ========================================================================== */
%btnCommonStyle{
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  @include padding(left-right,10px);
}